@media all and (min-width: 769px) {

    /* Nav */

    header {
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    #nav-block {
        height: 100%;
    }

    .nav-column {
        width: 33.333%;
        margin-bottom: 0;
        height: 100%;
    }

    .about-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .about-text {
        flex-grow: 1;
    }
}