@media all and (min-width: 769px) {

    /* Nav */

    header {
        display: flex;
        flex-direction: column;
    }

    #nav-block {
        overflow: hidden;
    }

    .nav-column {
        height: 100%;
        overflow: hidden;
        width: 33.333%;
    }

}