/* Global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --black: #38322d;
    --blue: #e3fffe;
    --yellow: #f6ffba;
    --pink: #ffeaf9;
    font-family: 'pennypacker', Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    color: var(--blue);
}

body {
    height: 100vh;
    background-color: var(--blue);
    overflow: hidden;
}

h1 {
    font-family: 'pennypacker-semiwide', Arial, Helvetica, sans-serif;
    font-size:  1.5rem;
    font-weight: 400;
    letter-spacing: 2px;
}

h2 {
    font-size: 0.9rem;
    font-family: 'pennypacker-semiwide', Helvetica, sans-serif;
}

a {
    text-decoration: none;
}


/* Nav elements structure */

header {
    position: absolute;
    padding: 0 3rem;
    width: 100%;
    background-color: var(--black);
    overflow: scroll;
    transition: height 0.2s ease;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin: 0 -2.5rem;
}

.nav-column {
    margin: 1rem 0;
    padding: 0 2.5rem;
}

.nav-item {
    text-align: left;
    margin-bottom: 1rem;
}

.nav-menu-block {
    display: flex;
    flex-wrap: wrap;
}

/* Lines */

.line {
    margin: 3rem 0 1rem 0;
    width: 100%;
    border-bottom: 2px dotted var(--blue);
}

/* Buttons */

button {
    display: block;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 0;
    width: 50%;
    text-align: left;
    font-size: 0.9rem;
    font-family: 'pennypacker-semiwide', Helvetica, sans-serif;
    background-color: transparent;
    cursor: pointer;
}

.button-icon-box {
    width: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: text-bottom;
    transition: width 300ms ease;
}

button:hover .button-icon-box {
    width: 20px;
}

.active {
    width: 20px;
}


/* Title block */

#links {
    display: flex;
    flex-direction: row;
}

/* CV */

#cv-scroll-nav {
    position: sticky;
    bottom: 0;
    margin: 1rem 0 0 0;
    background: var(--black);
}

#photo-background {
    border: 1rem solid var(--blue);
    background: var(--blue);
}

#photo-width {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
}

#photo {
    width: 100%;
    padding-top: 130%;
    background: url(images/blue1.jpg);
    background-position: 50%;
    background-size: cover;
    background-color: var(--blue);
}

.cv-block {
    margin-top: 5rem;
}

.skill-outline {
    width: 100%;
    height: 1rem;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
    border-left: 1px dotted var(--blue);
    border-right: 1px dotted var(--blue);
}

.skill-level {
    height: 100%;
    background: var(--blue);
}

#html-level {
    width: 80%;
}

#css-level {
    width: 80%;
}

#js-level {
    width: 40%;
}

#acs-level {
    width: 60%;
}

.cv-flex-row {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.year {
    font-size: 1.5rem;
    font-family: 'pennypacker-semiwide', Helvetica, sans-serif;
}

.cv-block p {
    margin-top: 1rem;
}


/* Interactivity */

.hidden {
    display: none !important;
}

/* The fun bit */

/* body {
    animation: slowfade 30s ease infinite;
}

* {
    animation: slowfade-text-border 30s ease infinite;
} */

@keyframes slowfade {
    0% {
        background-color: var(--blue);
    }

    33% {
        background-color: var(--blue);
    }

    66% {
        background-color: var(--pink);
    }

    100% {
        background-color: var(--blue);
    }

}

@keyframes slowfade-text-border{
    0% {
        color: var(--blue);
        border-color: var(--blue);
    }

    33% {
        color: var(--blue);
        border-color: var(--blue);
    }

    66% {
        color: var(--pink);
        border-color: var(--pink);
    }

    100% {
        color: var(--blue);
        border-color: var(--blue);
    }

}

